
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    
  </head>
  
  
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
       <%= render 'layouts/footer' %>
    </div>
  </body>
  
  
</html>

